{% extends "layout.html" %}
{% block body %}

<script type="text/javascript">
$(function() {
  initMap("map");
  loadItemsIntoMap(null, enterItem, clickItem, leaveItem);
});

function enterItem(d) {
  var info = d3.select('#item_info').html("");

  info.append("h1").text(d.template.name);

  for (i in d.fields) {
    info.append("h3").text(d.fields[i].name);

    if(d.fields[i].type == "image"){
      info.append('img')
        .attr('src', '/static/media/' + d.fields[i].value)
        .attr('width', '100%');
    }

    else if(d.fields[i].type == "video"){
      // Fill this out for video
    }

    else{
      info.append("p").text(d.fields[i].value);
    }
  }
}

function clickItem(d) { 
}

function leaveItem(d) {
  d3.select('#item_info').html("");
}
</script>

<div class="row">
  <div class="col-md-9">
    <div id="map">
    </div>
  </div>

  <div class="col-md-3">
    <div id="item_info">
    </div>
  </div>

</div>

{% endblock %}
