{% extends "layout.html" %}
{% block body %}

<script type="text/javascript">
$(function() {
  initMap("map");
  loadItemsIntoMap(null, enterItem, clickItem, leaveItem);
});

function enterItem(d) {
  var info = d3.select('#item_info').html("");

  info.append("h1").text(d.template.name);

  for (i in d.fields) {
    info.append("h3").text(d.fields[i].name);
    info.append("p").text(d.fields[i].value);
  }
}

function clickItem(d) {

}

function leaveItem(d) {
  d3.select('#item_info').html("");
}
</script>

<div class="row">
  <div class="col-md-9">
    <div id="map">
    </div>
  </div>

  <div class="col-md-3">
    <div id="item_info">
    </div>
  </div>

</div>

{% endblock %}
